.news-article {
  display: flex;
  width: 100%;
}
/* .newsSection {
  width: 93%;
  margin: 0px auto;
}
.news {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
} */

.news.allNews {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  padding: 30px 0px;
  box-shadow: none;
  background: unset;
}
.allNews .news-article {
  box-shadow: 2px 1px 7px 2px rgb(0 0 0 / 40%);
  background-color: rgba(255, 255, 255, 0.18);
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.hide{
  display: none;
}
