.tournaments-listing h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.tournaments-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  font-family: "Orbitron", sans-serif;
  font-size: 13px;
}
.tournament1 img {
  border-radius: 10px;
  max-height: 250px;
  transition: all 0.3s;
  display: block;
  transform: scale(1);
  height: auto;
  cursor: pointer;

  padding: 0;
  width: 100%;
  /* margin: 0 auto; */
}
.tournament1 img:hover {
  transform: scale(1.1);
}
.tournament1 {
  padding-left: 50px;
  padding-right: 50px;
}
.tournament1 h2 {
  border-radius: 10px;
}
